.bg {
  background-image: linear-gradient(to right, #f47c7c, #ef4444, #f47c7c);
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  text-decoration: underline;
}

.info-left,
.info-left {
  svg {
    color: rgb(44, 42, 42);
  }
}

@media screen and (max-width: 991.98px) {
  .footer-bottom-info {
    flex-direction: column;
  }
}
